<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Search Product', 'none')" />
<body>
<div class="container-fluid">
	<div>
		<form th:action="@{/orders/search_book}" method="post" 
				class="form-inline my-2">
			<input type="search" required class="form-control mr-sm-2" name="keyword"
				th:value="${keyword}"
				placeholder="book name"
				/>
			<input type="submit" class="btn btn-outline-success" value="Search" />
		</form>
	</div>

	<div class="row">
		<th:block th:each="book : ${listBooks}">
		<div class="col">
			<div>
				<a href="" class="linkProduct" th:pid="${book.id}">
					<img th:src="@{${book.coverPath}}" height="150">
					<br/>
					<b th:id="'pname' + ${book.id}">[[${book.name}]]</b>
				</a>
			</div>
		</div>
		</th:block>
	</div>

	<div th:replace="modal_fragments :: modal_dialog"></div>
	<div th:replace="fragments :: pagination('books')"></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		handleLinkProduct();
	});

	function handleLinkProduct() {
		$(".linkProduct").on("click", function(e) {
			e.preventDefault();
			productId = $(this).attr("pid");
			productName = $("#pname" + productId).text();

			if (window.parent.isProductAlreadyAdded(productId)) {
				showWarningModal("The product '" + productName + "' was already added.");
			} else {				
				window.parent.addProduct(productId, productName);
			}
		});
	}
</script>
</body>
</html>