<div class="modal-header">
	<h4 class="modal-title">Book Details</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#bookDescription" role="tab">Description</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
	  </li>		  
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active p-3" id="overview" role="tabpanel">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Book Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.name}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Book Alias:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.alias}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">ISBN:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.isbn}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Publisher:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.publisher.name}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Author:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.author.name}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Category:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.category.name}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Enabled:</label>
				<div class="col-sm-10">
					<input type="checkbox" th:checked="${book.enabled}" onclick="return false;" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">In-Stock:</label>
				<div class="col-sm-10">
					<input type="checkbox" th:checked="${book.inStock}" onclick="return false;" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Cost:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.cost}" readonly />
				</div>
			</div>
	
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Price:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.price}" readonly />
				</div>
			</div>
	
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Discount:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${book.discountPercent}" readonly />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Updated Time:</label>
				<div class="col-sm-10">
					<span th:text="${#dates.format(book.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
				</div>
			</div>
		
		</div>
		
		<div class="tab-pane" id="bookDescription" role="tabpanel">
			<div th:replace="books/book_description_read_only :: content"></div>  
	 	</div>
	 	
	 	<div class="tab-pane" id="images" role="tabpanel">
			<div th:replace="books/book_cover_read_only :: content"></div>
		</div>
		
		<div class="tab-pane p-3" id="details" role="tabpanel">
			<div th:replace="books/book_details_read_only :: content"></div>
		</div>
		
		<div class="tab-pane p-3" id="shipping" role="tabpanel">
			<div th:replace="books/book_shipping_read_only :: content"></div>  		
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>