<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurit5">

<head th:replace="fragments :: page_head('Home - LeLivre Online Store', 'none')" />

<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	
	<div>
		<span>Welcome </span>
		<a th:href="@{/account}" 
			sec:authentication="principal.fullname"></a>	
		<span sec:authentication="principal.authorities"></span>
		<span>to LeLivre Inventory Management System</span>
	</div>
	
	<div th:replace="fragments :: footer" ></div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});
	});
</script>
	
	
</body>

</html>